<h1>Songs#show</h1>

<strong>Title:</strong> <%= @song.title %></br>
<strong>Artist:</strong> <%= @song.artist_name %></br>
<strong>Genre:</strong> <%= @song.genre_name %></br>
<strong>Notes:</strong><br> <% @song.notes.each do |note| %>
  <%= note.content %><br>
<% end %>

